@import url("reset.css");

* {
	font-family: arial, sans-serif;
	text-decoration:none;
	font-size:13px;
}

.top {
	width:100%;
	min-width:1100px;
	/*height:64px;*/
	border-bottom:1px solid #ebebeb;
	padding-top:20px;
	background-color:#fafafa;
}

.searchbox {
	border-radius: 2px;
	box-shadow:0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
	height: 39px;
	padding-top: 5px;
	padding-left:16px;
	width: 632px;
	display: inline-block;
	position:relative;
	background-color:#fff;
	vertical-align:middle;
}

.searchbox input {
	border: 0;
	padding:0;
	width: 80%;
	line-height:34px;
	font-size:16px;

}

.searchbox input:focus {
	outline:none;
}

.appicon {
	display:inline-block;
	float: right;
	width:30px;
	height:30px;
	background-image:url("../images/icons.png");
	background-position-x:-132px;
	background-position-y:-38px;
	
}



.bttn-container {
	float:right;
	display:inline-block;
	padding-left:30px;
	padding-right:30px;
	padding-top:7px;
}



.logo {
	float: left;
	display:inline;
	left: 0;
	padding-left:13px;
	padding-right:16px;
	padding-top:4px;
}


#microphone {
	position: absolute;
	top:12px;
	right:60px;
	height:20px;
}


#magnifier {
	position: absolute;
	top:12px;
	right:16px;
	height:18px;
}

.signin_bttn, .signin_bttn:visited, .signin_bttn:hover {
	width:45px;
	height:28px;
	display:inline-block;
	float:right;
	
	background-color:rgb(66,133,244);
	border:1px solid rgb(66,133,244);
	border-radius: 2px;
	padding-left:12px;
	padding-right:12px;
	margin-left:15px;
	font-weight: 700;
	color: white;
	line-height:28px;
	color:white;
	text-decoration-line:none;
}




.topnav {
	height:58px;
	/*font-size 0 to remove gaps between inline block elements*/
	font-size:0px;
}

.topnav li {
	padding-top:28px;
	display:inline-block;
	font-size:13px;
}

.topnav li a {
	line-height:15px;	
	color:rgb(119,119,119);	
	padding-left:8px;
	padding-right:8px;
	margin-left:8px;
	margin-right:8px;	
}

.active {
	color:rgb(66,133,244);
	font-weight:700;
	border-bottom:3px solid rgb(66,133,244);
	padding-bottom:13px;
	padding-left:16px;
	padding-right:16px;
}

.settings {
	margin-left:80px;
}

#center_col {
	float:left;
	width:632px;
	margin-left:150px;
	margin-right:264px;
}

a {
	color:rgb(26,13,171);
	font-size:13px;
	line-height:16.12px;
	text-overflow:ellipsis;
	text-decoration-line:none;
}

a:visited {
	color:rgb(102,0,153);
}

a:hover {
		text-decoration-line:underline;
}

#resultstats {
	margin-left:150px;
	margin-bottom:8px;
	padding-left:16px;
	padding-right:8px;
	color:rgb(128, 128, 128);
	line-height:43px;
	height:43px;
	
}

.result {
	line-height:18.2px;
	font-size:13px;
	word-wrap:break-word;
	color:rgb(84,84,84);
	margin-bottom:26px;
	padding-left:16px;
}

.result a:first-child {
	font-size:18px;
	font-weight:400;
	line-height:21.6px;
	text-decoration-color:rgb(26,13,171);
	text-decoration-style:solid;
}

.result cite {
	color:rgb(0, 102, 33);
	font-size:14px;
	font-style:normal;
	font-weight:400;
	line-height:16px;
}

.result img {
	margin-top:4px;
	width:116px;
	height:65px;
}

em {
	color:rgb(106, 106, 106);
	font-weight:700;
}

.col {
	float:left;
}



#right_box {
	width:454px;
	height:125px;
	margin-left:820px;
	min-width:268px;
	padding-bottom:7px;
	box-shadow:0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

#right_box_title {
	color:rgb(34,34,34);
	font-size:18px;
	line-height:22.32px;
	padding:15px 15px 0px 15px;
}

#right_box_content {
	width:424px;
	padding: 8px 15px 8px 15px;
	line-height:16.12px;
	
}
.right_box_line {
	margin-top:2px;
	overflow-x:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	font-size:13px;
	padding-right:10px;
}

#right_box_thumb {
	float:right;
	width:72px;
	height:72px;
	position:relative;
	overflow:hidden;
}

#right_box_thumb img{
	top:-19px;
	position:relative;
}

#right_box_content:hover {
	background:#f7f7f7;
}

#also_ask_box {
	width:632px;
	margin-bottom:26px;
	box-shadow:0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

#also_ask_box_title {
	padding: 15px 16px 10px 16px;
	font-size:20px;
	line-height:24px;
	color:rgb(128,128,128);
}

.also_ask_card {
	border-top-color:rgb(229,229,299);
	border-top-style:solid;
	border-top-width:1px;
	color:rgb(34,34,34);
	font-size:18px;
	line-height:21.6px;
	padding: 5px 16px 5px 16px;
}

.also_ask_card_arrow {
	background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAJCAYAAAAGuM1UAAAARElEQVR4AZXLoQ3AMBAEwXFP7ielpcvHIQdPLwUs24HzMw8Gd5kuJq8Xs6DMJq9TUZ9PQEF1DmiozwELyryBoDp3sPcBE+gdTR3BcJAAAAAASUVORK5CYII=");
	margin:5px;
	width:12px;
	height:9px;
	float:right;
	color:rgb(34,34,34);
	opacity:0.38;
	}
	
#feedbacklink {
	color:rgb(119,119,119);
	font-size:11px;
	font-style:italic;
	position:relative;
	top:-26px;
	right:16px;
	float:right;
}